<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>

<!-- Page Content --> 


<!-- reference http://www.sitepoint.com/creating-crud-app-minutes-angulars-resource/ -->
<div ng-controller="inputform">
        <p>This is denomradio's value: {{denomradio}}</p>
        <div class="form-group">
            <label for="serial" class="col-sm-2 control-label">Box serial number</label>
            <div class="col-sm-10">
                <input type="text" ng-model="boxkey.serial" class="form-control" id="serial" placeholder="Serial Number here"/>
            </div>
        </div>
        <div class="form-group">
            <label for="opnum" class="col-sm-2 control-label">Operator serial number</label>
            <div class="col-sm-10">
                <input type="text" ng-model="boxkey.opnum" class="form-control" id="opnum" placeholder="Operator Number goes here"/>
            </div>
        </div>
        <div class="form-group">
            <label for="datetime" class="col-sm-2 control-label">Date and Time</label>
            <div class="col-sm-10">
                <input type="text" ng-model="boxkey.datetime" class="form-control" id="datetime" placeholder="Unix date number goes here"/>
            </div>
        </div>
        <div class="form-group">
            <label for="currtype" class="col-sm-2 control-label">Currency type</label>
            <div class="col-sm-10">
                <input type="text" ng-model="boxkey.currtype" class="form-control" id="currtype" placeholder="Currency type used goes here"/>
            </div>
        </div>

        <div class="form-group">
            <label for="denomradio" class="col-sm-2 control-label">Does your currency have denominations?</label>
            <div class="col-sm-10">
                <input type="radio" class="form-control" name="denomradio" ng-model="denomradio" value="yesdenom" id="yesdenom">Yest
                <br>
                <input type="radio" class="form-control" name="denomradio" ng-model="denomradio" value="nodenom" id="nodenom">No
                <br>
                <input type="radio" class="form-control" name="denomradio" ng-model="denomradio" value="maybedenom" id="maybedenom">I don't know
                <br>
            </div>
        </div>

        <div class="form-group" >
            <div ng-show="isShown('yesdenom')">
                <label for="denom" class="col-sm-2 control-label">Denomination</label>
                <div class="col-sm-10">
                    <input type="checkbox" ng-model="boxkey.denom" class="form-control" id="denom" name="denom" value="1"> 1
                    <br>
                    <input type="checkbox" ng-model="boxkey.denom" class="form-control" id="denom" name="denom" value="2"> 2
                    <br>
                    <input type="checkbox" ng-model="boxkey.denom" class="form-control" id="denom" name="denom" value="5"> 5
                    <br>
                    <input type="checkbox" ng-model="boxkey.denom" class="form-control" id="denom" name="denom" value="10"> 10
                    <br>
                    <input type="checkbox" ng-model="boxkey.denom" class="form-control" id="denom" name="denom" value="20"> 20
                    <br>
                    <input type="checkbox" ng-model="boxkey.denom" class="form-control" id="denom" name="denom" value="50"> 50
                    <br>
                    <input type="checkbox" ng-model="boxkey.denom" class="form-control" id="denom" name="denom" value="100"> 100
                    <br>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div ng-show="isShown('nodenom')">
                <label for="denom" class="col-sm-2 control-label">Denomination</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="boxkey.denom" class="form-control" id="denom" placeholder="Currency denomination goes here"/>
                </div>
            </div>
        </div>
        <div class="form-group" ng-show="isShown('maybedenom')">
            <p>Well, I hope you figure it out!</p>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" value="Save"/>
            </div>
        </div>

    JSON: {{displayJSON}}

    <!--
    <table class="table boxkeytable">
      <tr>
        <td><h3>Details for {{boxkey.serial}}</h3></td>
        <td></td>
      </tr>
      <tr>
        <td>Movie Title</td>
        <td>{{movie.title}}</td>
      </tr>
      <tr>
        <td>Director</td>
        <td>{{movie.director}}</td>
      </tr>
      <tr>
        <td>Release Year</td>
        <td>{{movie.releaseYear}}</td>
      </tr>
      <tr>
        <td>Movie Genre</td>
        <td>{{movie.genre}}</td>
      </tr>
    </table>
    <div>
      <a class="btn btn-primary" ui-sref="editMovie({id:movie._id})">Edit</a>
    </div>
    
    <a ui-sref="newMovie" class="btn-primary btn-lg nodecoration">Add New Movie</a>
    
    <table class="table movietable">
      <tr>
        <td><h3>All Movies</h3></td>
        <td></td>
      </tr>
      <tr ng-repeat="movie in movies">
        <td>{{movie.title}}</td>
        <td>
          <a class="btn btn-primary" ui-sref="viewMovie({id:movie._id})">View</a>
          <a class="btn btn-danger"  ng-click="deleteMovie(movie)">Delete</a>
        </td>
      </tr>
    </table>
    -->

</div>